@charset "utf-8";

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  background: #efefef;
  font-family: 'Noto Sans KR', sans-serif;
}

.mobile {
  display: none;
}

.point-title {
  color: #edc06a;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.content-title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #555;
}

.plus {
  background: url('../img/contents/plus_off.png') no-repeat center/cover;
  width: 4em;
  height: 4em;
  transition: transform 1s;
  cursor: pointer;
}

.plus:hover {
  transform: rotate(540deg);
  background: url('../img/contents/plus_on.png') no-repeat center/cover;
}

/* visual */

.visual-area {
  position: fixed;
  float: left;
  width: 33%;
  height: 100vh;
  background: #67b274;
  text-align: center;
}

.visual img {
  width: 100%;
}

.visual .info {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.3rem;
  padding: 0 3em;
  color: #fafafa;
  word-break: break-all;
}

/* body scroll 막는 코드 */
.not_scroll {
  overflow: hidden;
  height: 100%;
}

/* header */

header {
  position: fixed;
  top: 0;
  right: -10px;
  width: 67%;
  height: 85px;
  background: #efefef;
}

header .group {
  padding: 20px 30px 0 0;
}

/* main */

main {
  width: 67%;
  float: right;
}

main .inner {
  width: 80%;
  margin: 270px auto 0;
}

/* contents */

.content {
  width: 67%;
  float: right;
}

.contents-list li {
  position: relative;
  top: 50px;
  display: inline-block;
  width: 47%;
  margin-bottom: 5em;
  background: #fff;
  text-align: center;
  opacity: 0;
}

.contents-list li a {
  display: block;
}

.contents-list li figure {
  width: 100%;
}

.contents-list figure img {
  display: block;
  margin: 0 auto;
  max-width: 385px;
  width: 100%;
  margin-top: -160px;
}

.contents-list li:nth-child(3) {
  position: relative;
  float: right;
  width: 75%;
  margin-bottom: 5em;
  text-align: left;
}

.contents-list li:nth-child(3) figure img {
  position: absolute;
  top: 5px;
  left: -50px;
  margin: 0 0 0 -34%;
  width: 29em;
}

.contents-list li:nth-child(3) p {
  margin-left: 35%;
}

.contents-list li:nth-child(3) .type {
  padding-top: 5%;
}

.contents-list li:nth-child(3) .plus {
  margin: 40px 35%;
}

.contents-list li:nth-child(2),
.contents-list li:nth-child(5) {
  margin-left: 5.6%;
}

.contents-list li:nth-child(4),
.contents-list li:nth-child(5) {
  margin-top: 15em;
}

.contents-list .type {
  font-size: 1.8rem;
  color: #67b274;
  letter-spacing: 2px;
  margin-top: 1.1em;
}

.contents-list .keyword {
  font-size: 2.2rem;
  color: #67b274;
  font-weight: bold;
  margin-top: 0.6em;
}

.contents-list .title {
  font-size: 1.7rem;
  margin: 20px 0;
  font-family: 'Nanum Myeongjo', serif;
  letter-spacing: -1.5px;
}

.contents-list li:hover {
  box-shadow: 3px 3px 15px #ccc;
}

.contents-list li .plus {
  margin: 0 auto 30px;
  transition: transform 1s;
}

.contents-list li:hover .plus {
  transform: rotate(540deg);
  background: url('../img/contents/plus_on.png') no-repeat center/cover;
}

/* news 영역 */

.news {
  position: relative;
  background: #fff;
  overflow: hidden;
  padding: 5em 3em;
  margin-bottom: 5em;
}

.news .title-area {
  width: 20%;
  float: left;
  word-break: keep-all;
}

.news .plus {
  position: absolute;
  bottom: 3em;
  margin-top: 3em;
}

.news-list {
  overflow: hidden;
  width: 80%;
  float: right;
}

.news-list li {
  float: left;
  width: 33%;
  box-sizing: border-box;
  padding-right: 1.5em;
}

.news-list li+li {
  padding-left: 1.5em;
  border-left: 1px solid #ccc;
}

.news-list li figure {
  width: 100%;
  height: 154px;
  overflow: hidden;
  position: relative;
}

.news-list li figure img {
  display: block;
  max-width: 100%;
  height: auto;
}

.news-list li .title {
  margin: 1em 0;
  font-weight: bold;
  font-size: 1.8rem;
  color: #555;
}

.news-list li:hover .title {
  color: #edc06a;
}

.news-list li .text {
  font-size: 1.3rem;
  color: #797979;
}


/* calendar */

.calendar {
  margin-bottom: 5em;
  padding: 5em 3em 3em;
  background: #fff;
  text-align: center;
}

.calendar .title-area {
  position: relative;
  margin-bottom: 30px;
  text-align: left;
}

.calendar .title-area .plus {
  position: absolute;
  top: 0;
  right: 0;
}

.calendar-list {
  overflow: hidden;
}

.calendar-list li {
  float: left;
  width: 30%;
  margin-bottom: 3em;
  text-align: left;
}

.calendar-list li img {
  width: 100%;
}

.calendar-list li .title {
  font-size: 1.6rem;
  width: 100%;
  height: 2em;
  color: #555;
  font-weight: bold;
  margin: 1em 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.calendar-list li .time,
.calendar-list li .area {
  font-size: 1.3rem;
  color: #797979;
  height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.calendar-list li+li {
  margin-left: 3%;
}

.calendar-list li:nth-child(4) {
  margin-left: 0;
}

.calendar .info {
  text-align: center;
  font-size: 1.2rem;
  color: #797979;
  margin-bottom: 20px;
}

.calendar .btn-apply {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  font-size: 2rem;
  width: 40%;
  min-width: 15em;
  height: 5%;
  line-height: 3em;
  background: #edc06a;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.calendar .btn-apply::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(30%, -50%);
  background: url('../img/calendar/bu_btn.png') no-repeat right/cover;
  width: 41px;
  height: 6px;
}

/* banner */

.banner {
  margin-bottom: 50px;
  overflow: hidden;
}

.banner .first-banner>a {
  position: relative;
  box-sizing: border-box;
  padding: 2em 3em;
  float: left;
  background: #fff;
  width: 50%;
  background: url('../img/banner/banner_black.png') no-repeat center/cover;
}

.banner .first-banner>a .point-title {
  color: #ffb3c4;
  letter-spacing: 2px;
}

.banner ul {
  float: right;
  position: relative;
  width: 50%;
}

.banner ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 2em 3em;
  box-sizing: border-box;
}

.banner ul li:first-child {
  background: url('../img/banner/banner_event2.png') no-repeat center/cover;
}

.banner ul li:nth-child(2) {
  background: url('../img/banner/banner_event.png') no-repeat center/cover;
}

.banner .point-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
}

.banner .content-title {
  font-size: 2rem;
  color: #fff;
  font-weight: normal;
  padding: 1em 0 2em;
}

.banner .btn-more::after {
  content: '';
  position: absolute;
  bottom: 1.5em;
  left: 3em;
  transform: translateY(-50%);
  background: url('../img/calendar/bu_btn.png') no-repeat center/cover;
  width: 41px;
  height: 6px;
}

/* footer */

footer {
  border-top: 1px solid #ccc;
  padding: 30px 0;
  position: relative;
}

footer .logo a {
  display: inline-block;
  width: 200px;
  height: 30px;
  margin-bottom: 30px;
}

footer .logo a img {
  width: 100%;
  display: block;
}

footer .top {
  font-size: 1.5rem;
  padding-right: 30px;
  position: absolute;
  top: 30px;
  right: 0;
  cursor: pointer;
}

footer .top img {
  margin-left: 10px;
  position: absolute;
  top: 2px;
  right: 0;
}

footer p {
  font-size: 1rem;
  letter-spacing: 1px;
  display: inline-block;
  color: #797979;
}

address {
  font-size: 1rem;
  letter-spacing: 1px;
  display: inline;
  color: #797979;
}

.copyright {
  display: block;
  margin: 5px 0;
}

/* ------ media query 1701px 이상 ------*/

@media screen and (min-width:1701px) {}

/* ------ media query  801px 이상, 1200px 이하 ------*/

@media screen and (min-width:801px) and (max-width: 1700px) {

  main .inner {
    width: 90%;
    margin: 270px auto 0;
  }

  .point-title {
    font-size: 1.4rem;
  }

  .content-title {
    font-size: 2.2rem;
    font-weight: bold;
  }


  .contents-list figure img {
    margin-top: -160px;
  }

  .contents-list li:nth-child(2),
  .contents-list li:nth-child(5) {
    margin-left: 5%;
  }

  .contents-list li:nth-child(3) figure img {
    width: 250px;
  }

  .contents-list li .plus {
    width: 30px;
    height: 30px;
  }

  /* news */

  .news {
    padding: 3em;
  }

  .news .plus {
    top: 0;
    right: 3em;
  }

  .news-list {
    width: 100%;
  }

  .news .title-area {
    float: none;
    width: 100%;
    margin-bottom: 1em;
  }

  .news-list li figure {
    position: relative;
  }

  .news-list li figure img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  /* calendar */

  .calendar {
    padding: 30px;
  }

  .calendar-list li+li {
    margin-left: 5%;
  }

  .calendar .btn-apply {
    font-size: 1.8rem;
    height: 3em;
    line-height: 3em;
  }

  /* banner */

  .banner .first-banner>a,
  .banner ul li {
    padding: 5px 20px;
  }

  .banner .point-title {
    font-size: 1.4rem;
  }

  .banner .content-title {
    font-size: 1.6rem;
  }

  .banner .btn-more::after {
    bottom: 5px;
    left: 20px;
    width: 36px;
  }

}

/* ------ media query  801px 이상, 1200px 이하 ------*/

@media screen and (min-width:800px) and (max-width: 960px) {

  .contents-list li {
    margin-bottom: 3em;
  }

  .contents-list figure img {
    margin-top: -120px;
  }

  .contents-list li:nth-child(3) {
    margin-bottom: 1em;
  }

  .contents-list li:nth-child(3) figure img {
    width: 200px;
  }

  .contents-list li:nth-child(3) p {
    margin-left: 30%;
  }

  .contents-list li:nth-child(3) .type {
    padding-top: 5%;
  }

  .contents-list li:nth-child(3) .plus {
    margin-left: 30%;
  }

  .contents-list .type {
    font-size: 1.2rem;
    margin-top: 1.1em;
  }

  .contents-list .keyword {
    font-size: 2rem;
    margin-top: 0.5em;
  }

  .contents-list .title {
    font-size: 1.8rem;
    margin: 0.6em 0;
  }

  .contents-list li .plus,
  .plus {
    width: 20px;
    height: 20px;
    margin-top: 20px;
  }

  .news .plus {
    top: 10px;
  }

  .news-list li figure {
    height: 100px;
  }

  .news-list li .title {
    font-size: 1.25rem;
  }

  .news-list li .text {
    font-size: 1.2rem;
  }

  .calendar .title-area .plus {
    top: -10px;
  }

}

/* ------ media query 800px 이하 ------*/

@media screen and (max-width: 800px) {
  header {
    background: transparent;
    position: absolute;
    width: 100%;
  }

  header .group {
    padding: 10px 20px;
  }

  header .group>a {
    border-bottom: none;
    font-size: 0px;
    display: inline-block;
    top: 0;
  }

  header .group .subscribe {
    display: none;
  }

  header .mobile {
    display: inline-block;
    position: relative;
  }

  header .mobile::before {
    display: inline-block;
    font-size: 2rem;
  }

  header .group .btn-menu {
    width: 32px;
    height: 20px;
    margin-left: 0;
  }

  header .group .btn-menu span {
    width: 25px;
    height: 4px;
  }

  .point-title {
    font-size: 1.2rem;
  }

  .content-title {
    font-size: 2rem;
  }

  .visual-area {
    position: relative;
    width: 100%;
    height: 160vw;
  }

  main {
    width: 100%;
  }

  main .inner {
    width: 90%;
    margin: 180px auto 0;
  }

  .contents-list figure {
    width: 90%;
    margin: 0 auto;
  }

  .contents-list figure img {
    width: 100%;
    margin-top: -160px;
    display: block;
  }

  .contents-list li:nth-child(3) {
    margin-bottom: 50px;
  }

  .contents-list li:nth-child(3) figure img {
    width: 250px;
  }

  .contents-list li:nth-child(3) p {
    margin-left: 30%;
  }

  .contents-list li:nth-child(3) .type {
    padding-top: 5%;
  }

  .contents-list li:nth-child(3) .plus {
    margin-left: 30%;
  }

  .contents-list .type {
    font-size: 1.2rem;
  }

  .contents-list .keyword {
    font-size: 1.8rem;
    margin-top: 0;
  }

  .contents-list .title {
    font-size: 1.5rem;
  }

  .news {
    padding: 3em 2em;
  }

  .news .title-area {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }

  .news-list {
    width: 100%;
    float: none;
  }

  .news-list li {
    float: none;
    width: 100%;
    overflow: hidden;
    height: 180px;
  }

  .news-list li+li {
    padding: 0;
    border-left: none;
  }

  .news-list li figure {
    float: left;
    width: 30%;
    height: 180px;
    overflow: hidden;
    margin-right: 20px;
  }

  .news-list li .title {
    font-size: 1.6rem;
    margin-bottom: 15px;
  }

  .news .plus {
    top: 10px;
    right: 30px;
  }

  .plus {
    width: 20px;
    height: 20px;
    margin-top: 20px;
  }

  .calendar {
    padding: 3em;
  }

  footer {
    text-align: center;
  }
}

/* ------ media query  680px 이하 ------*/

@media screen and (max-width: 680px) {
  header {
    right: 0;
  }

  header nav {
    right: -100%;
    width: 100%;
  }

  .contents-list li:nth-child(2),
  .contents-list li:nth-child(5) {
    margin-left: 4%;
  }

  .contents-list li:nth-child(3) figure img {
    width: 200px;
  }

  .news-list li {
    height: auto;
    margin-bottom: 2em;
  }

  .news-list li figure {
    height: auto;
  }

  .news-list li .title {
    margin: 0;
    font-size: 1.5rem;
  }

  .calendar-list li {
    width: 48%;
  }

  .calendar-list li:nth-child(4) {
    margin-left: 3%;
  }

  .calendar-list li:nth-child(3),
  .calendar-list li:nth-child(5) {
    margin-left: 0;
  }

  .banner {
    height: 250px;
  }

  .banner .first-banner>a {
    display: block;
    float: none;
    width: 100%;
    height: auto;
  }

  .banner ul {
    height: 140px;
    float: none;
    width: 100%;
  }

  .banner .point-title {
    font-size: 1.2rem;
  }

  .banner .content-title {
    font-size: 1.6rem;
    padding: 0.5em 0;
  }
}