@charset "utf-8";

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  background: #efefef;
  font-family: 'Noto Sans KR', sans-serif;
}

.hidden {
  display: none;
}

.a11y-hidden {
  text-indent: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
}

button:focus {
  outline: none;
}

.point-title {
  color: #edc06a;
  font-size: 1.6rem;
}

.content-title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #555;
}

.plus {
  background: url('../img/contents/plus_off.png') no-repeat;
  width: 5rem;
  height: 5rem;
  transition: transform 1s;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* visual */

.visual {
  position: fixed;
  background: url('../img/visual/2006_main_visual1.gif') no-repeat top/cover;
  height: 100vh;
  z-index: 10;
}

.visual .info {
  position: absolute;
  padding: 0.25rem 3rem;
  bottom: 10px;
  text-align: center;
  font-size: 1.3rem;
  color: #fafafa;
  word-break: break-all;
}

/* body scroll 막는 코드 */
.not_scroll {
  overflow: hidden;
  height: 100%;
}

/* header */

header {
  height: 85px;
  position: fixed;
  top: 0;
  right: -10px;
  z-index: 10;
  width: 67%;
  background: #efefef;
}

header .group {
  float: right;
  padding: 2rem 3rem 0 0;
}

header .group>a {
  position: relative;
  font-size: 1.5rem;
  border-bottom: 4px solid #000;
  padding: 5px 0;
  margin: 1rem;
  font-weight: bold;
  top: -10px;
}

header .group>a:nth-child(4) {
  top: 0;
  padding: 0;
  margin-bottom: 0;
}

header .group>a i {
  font-size: 1.8rem;
}

header .group .active {
  color: #ef84a7;
  border-bottom-color: #ef84a7;
}

header .btn-follow,
header .btn-sns {
  padding-left: 0;
  transition: all 0.5s;
}

header .btn-follow:hover,
header .btn-sns:hover {
  border-bottom-color: transparent;
  color: transparent;
}

header .btn-follow .follow-list,
header .btn-sns .sns-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  display: none;
}

header .btn-sns .sns-list {
  width: 60px;
  background: rgba(255, 255, 255, 0.5);
}

header .btn-follow .follow-list ul,
header .btn-sns .sns-list ul {
  border-top: 4px solid #ef84a7;
  overflow: hidden;
}

header .btn-follow .follow-list ul li,
header .btn-sns .sns-list ul li {
  float: left;
  width: 50%;
  text-align: center;
}

header .group .btn-menu {
  display: inline-block;
  width: 32px;
  height: 25px;
  position: relative;
  border-bottom: none;
  margin-left: 2rem;
  cursor: pointer;
}

header .group .btn-menu span {
  position: absolute;
  top: 55%;
  right: 0;
  transform: translateY(-50%);
  width: 32px;
  height: 5px;
  background: #000;
}

header .group .btn-menu span:first-child {
  top: 10%;
}

header .group .btn-menu span:last-child {
  top: 100%;
}

header .group .btn-menu:hover span {
  background: gray;
}

header .dark-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
  display: none;
  cursor: pointer;
}

/* header - nav */

header nav {
  position: absolute;
  top: 0;
  right: -57%;
  width: 57%;
  height: 100vh;
  background: #67b274;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 5rem;
  font-size: 1.5rem;
  z-index: 30;
}

header nav .btn-close-menu {
  position: absolute;
  background: none;
  top: 20px;
  right: 30px;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.searchBar-area {
  position: relative;
  height: 40px;
}

.searchBar-area i {
  position: absolute;
  top: 1rem;
  left: 0;
  color: #fff;
}

header nav .searchBar {
  position: relative;
  border: none;
  width: 90%;
  border-bottom: 2px solid #fff;
  padding: 10px 0 10px 25px;
  background: none;
  color: #fff;
  font-size: 1.5rem;
}

header nav .searchBar:focus {
  outline: none;
  caret-color: #fff;
}

header nav .searchBar::placeholder {
  color: #2b825d;
}

header .gnb {
  border-bottom: 1px solid #fff;
}

header .gnb li {
  margin: 30px 0;
  font-size: 18px;
  color: #2b825d;
  cursor: pointer;
}

header .gnb li .type {
  font-size: 12px;
  letter-spacing: 2px;
}

header .gnb li .title {
  color: #fff;
  font-family: 'Nanum Myeongjo', serif;
  margin-top: 1rem;
  line-height: 2.5rem;
}

header .mnb {
  margin: 30px 0;
}

header .mnb li {
  margin-bottom: 1rem;
  cursor: pointer;
}

header .mnb li .title {
  color: #fff;
  font-size: 1.8rem;
  margin-right: 1rem;
}

header .mnb li .sub-title {
  color: #2b825d;
  font-size: 1.3rem;
}

header .bnb {
  border-top: 1px solid #fff;
  padding-top: 20px;
}

header .bnb li {
  float: left;
  color: #fff;
  margin-right: 3rem;
  border-bottom: 4px solid #fff;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 1.8rem;
}

header nav .btn-close-menu span {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 36px;
  height: 4px;
  background: #fff;
  transform: rotate(45deg);
}

header nav .btn-close-menu span:last-child {
  transform: rotate(135deg);
}

/* main */

main {
  width: 67%;
  float: right;
}

main .inner {
  width: 80%;
  margin: 270px auto 0;
}

/* contents */

/* contents-list */

.contents-list li {
  text-align: center;
  position: relative;
  width: 47%;
  height: 42rem;
  background: #fff;
  display: inline-block;
  margin-bottom: 5rem;
  opacity: 0;
  top: 50px;
}

.contents-list li a {
  display: block;
}

.contents-list figure img {
  width: 100%;
  margin-top: -160px;
  display: block;
}

.contents-list li:nth-child(3) {
  width: 75%;
  margin-bottom: 5rem;
  margin-left: 25%;
  position: relative;
  height: 30rem;
  text-align: left;
}

.contents-list li:nth-child(3) figure img {
  margin-top: 0;
  position: absolute;
  top: 5px;
  margin-left: -34%;
  width: 290px;
  left: -50px;
}

.contents-list li:nth-child(3) p {
  margin-left: 35%;
}

.contents-list li:nth-child(3) .type {
  padding-top: 5%;
}

.contents-list li:nth-child(3) .plus {
  margin-left: 35%;
}

.contents-list li:nth-child(2),
.contents-list li:nth-child(5) {
  margin-left: 5.6%;
}

.contents-list li:nth-child(4),
.contents-list li:nth-child(5) {
  margin-top: 15rem;
}

.contents-list .type {
  font-size: 1.8rem;
  color: #67b274;
  letter-spacing: 2px;
  margin-top: 1.5rem;
}

.contents-list .keyword {
  font-size: 2.2rem;
  color: #67b274;
  font-weight: bold;
  margin-top: 2rem;
}

.contents-list .title {
  font-size: 1.7rem;
  margin: 2rem 0;
  font-family: 'Nanum Myeongjo', serif;
  letter-spacing: -1px;
}

.contents-list li:hover {
  box-shadow: 3px 3px 15px #ccc;
}

.contents-list li .plus {
  margin: 0 auto;
  transition: transform 1s;
}

.contents-list li:hover .plus {
  transform: rotate(540deg);
  background: url('../img/contents/plus_on.png');
}

/* news 영역 */

.news {
  position: relative;
  background: #fff;
  overflow: hidden;
  padding: 5rem 3rem;
  margin-bottom: 5rem;
}

.news .title-area {
  width: 20%;
  float: left;
}

.news .plus {
  position: absolute;
  bottom: 3rem;
  margin-top: 3rem;
}

.news .plus:hover {
  transform: rotate(540deg);
  background: url('../img/contents/plus_on.png');
}

.news-list {
  overflow: hidden;
  width: 80%;
  float: right;
}

.news-list li {
  float: left;
  width: 33.3333%;
  box-sizing: border-box;
  padding-right: 1.5rem;
}

.news-list li+li {
  padding-left: 1.5rem;
  border-left: 1px solid #ccc;
}

.news-list li figure {
  width: 100%;
  height: 130px;
  overflow: hidden;
}

.news-list li figure img {
  width: 100%;
  display: block;
}

.news-list li:hover .title {
  color: #edc06a;
}

.news-list li .title {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 1.6rem;
  color: #555;
}

.news-list li .text {
  font-size: 1.3rem;
  color: #797979;
}


/* calendar */

.calendar {
  margin-bottom: 5rem;
  padding: 5rem 3rem 3rem;
  background: #fff;
  text-align: center;
}

.calendar .title-area {
  position: relative;
  margin-bottom: 3rem;
  text-align: left;
}

.calendar .title-area .plus {
  position: absolute;
  top: 0;
  right: 0;
}

.calendar .title-area .plus:hover {
  transform: rotate(540deg);
  background: url('../img/contents/plus_on.png');
}

.calendar-list {
  overflow: hidden;
}

.calendar-list li {
  float: left;
  width: 30%;
  margin-bottom: 3rem;
  text-align: left;
}

.calendar-list li img {
  width: 100%;
}

.calendar-list li .title {
  font-size: 1.6rem;
  width: 100%;
  height: 2rem;
  color: #555;
  font-weight: bold;
  margin: 1rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.calendar-list li .time,
.calendar-list li .area {
  font-size: 1.3rem;
  color: #797979;
}

.calendar-list li+li {
  margin-left: 3%;
}

.calendar-list li:nth-child(4) {
  margin-left: 0;
}

.calendar .info {
  text-align: center;
  font-size: 1.2rem;
  color: #797979;
  margin-bottom: 2rem;
}

.calendar .btn-apply {
  position: relative;
  box-sizing: border-box;
  text-align: left;
  padding-left: 8rem;
  display: inline-block;
  width: 30rem;
  height: 6rem;
  line-height: 6rem;
  background: #edc06a;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  cursor: pointer;
}

.calendar .btn-apply::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 6.8rem;
  transform: translateY(-50%);
  background: url('../img/calendar/bu_btn.png') no-repeat center;
  width: 41px;
  height: 6px;
}

/* banner */

.banner {
  margin-bottom: 5rem;
  overflow: hidden;
}

.banner .first-banner>a {
  position: relative;
  box-sizing: border-box;
  padding: 2rem 3rem;
  float: left;
  background: #fff;
  width: 50%;
  background: url('../img/banner/banner_black.png') no-repeat center/cover;
}

.banner .first-banner>a .point-title {
  color: #ffb3c4;
  letter-spacing: 2px;
}

.banner ul {
  float: right;
  position: relative;
  width: 50%;
  background: pink;
}

.banner ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 2rem 3rem;
  box-sizing: border-box;
}

.banner ul li:first-child {
  background: url('../img/banner/banner_event2.png') no-repeat center/cover;
}

.banner ul li:nth-child(2) {
  background: url('../img/banner/banner_event.png') no-repeat center/cover;
}

.banner .point-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
}

.banner .content-title {
  font-size: 2rem;
  color: #fff;
  font-weight: normal;
  padding: 1rem 0 2rem;
}

.banner .btn-more::after {
  content: '';
  position: absolute;
  bottom: 1.5rem;
  left: 3rem;
  transform: translateY(-50%);
  background: url('../img/calendar/bu_btn.png') no-repeat center;
  width: 41px;
  height: 6px;
}

/* footer */

footer {
  border-top: 1px solid #ccc;
  padding-top: 3rem;
  position: relative;
}

footer .logo a {
  display: inline-block;
  width: 200px;
  height: 30px;
  margin-bottom: 3rem;
}

footer .logo a img {
  width: 100%;
  display: block;
}

footer .top {
  font-size: 1.5rem;
  padding-right: 3rem;
  position: absolute;
  top: 3rem;
  right: 0;
  cursor: pointer;
}

footer .top img {
  margin-left: 1rem;
  position: absolute;
  top: 2px;
  right: 0;
}

footer p {
  font-size: 1rem;
  letter-spacing: 1px;
  display: inline-block;
  color: #797979;
}

address {
  font-size: 1rem;
  letter-spacing: 1px;
  display: inline;
  color: #797979;
}

.copyright {
  display: block;
  margin: 0.5rem 0 3rem;
}

/* media query PC*/

@media screen and (min-width:1201px) {
  .visual {
    width: 33%;
    float: left;
  }

  .content {
    width: 67%;
    float: right;
  }
}